@font-face {
	font-family: Karbon;
	src: url('https://drive.google.com/file/d/1hcaq4yeaFgrpfRvAjnFNTmhn1BbP8uQe/view?usp=sharing');
}

@font-face {
	font-family: Karbon;
	src: url('https://drive.google.com/file/d/1GyQqcz7buh-e_QBoiQb7eYnoivvzCcL9/view?usp=sharing');
	font-weight: bold;
}

@font-face {
	font-family: Karbon;
	src: url('https://drive.google.com/file/d/1lw6IrSafYoi_nP5nu6bhv5g3Ibc9kN2A/view?usp=sharing');
}

@font-face {
	font-family: Karbon;
	src: url('https://drive.google.com/file/d/1ZJ64gUpaX8u909NIdpmIlRTHbF6Ns3o7/view?usp=sharing');
	font-weight: bold;
}

@font-face {
	font-family: Karbon;
	src: url('https://drive.google.com/file/d/1zkw_XYoqvVc-kUTadzwdJRqVZCHhDkxq/view?usp=sharing');
}

@font-face {
	font-family: Karbon;
	src: url('https://drive.google.com/file/d/1hJ-gj8YLUZZrljEe6FgTafJqpj5-9XA5/view?usp=sharing');
	font-weight: bold;
}